<?xml version="1.0" encoding="utf-8"?>
<!-- Docker derlemesi ve yeni makineler için paket kaynakları (CommonUtils Finoku feed'inde). -->
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Finoku" value="https://nuget.finoku.com/v3/index.json" />
  </packageSources>
</configuration>
